:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--color-primary); }

::selection {
  color: #fff;
  background: var(--color-primary); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 0; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 0; } }

.logo {
  line-height: 0;
  display: inline-block; }

.logo__photo {
  height: 3.25rem;
  margin-left: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .logo__photo {
      height: 2.75rem; } }
  @media only screen and (max-width: 33.75em) {
    .logo__photo {
      height: 2.5rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .search {
      flex: 0 0 100%;
      order: 1;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    width: 90%;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-grey-light-2);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%; }
      @media only screen and (max-width: 43.75em) {
        .search__input:focus {
          width: 95%; } }
  .search__button {
    position: absolute;
    top: 0rem;
    right: 3rem;
    padding: 1rem;
    line-height: 0;
    background: transparent;
    border: none;
    transition: all 0.2s; }
    @media only screen and (max-width: 75em) {
      .search__button {
        right: 2.5rem; } }
    @media only screen and (max-width: 60.625em) {
      .search__button {
        right: 2.25rem; } }
    @media only screen and (max-width: 56.25em) {
      .search__button {
        right: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .search__button {
        right: 4rem; } }
    @media only screen and (max-width: 33.75em) {
      .search__button {
        right: 3.5rem; } }
    @media only screen and (max-width: 27.5em) {
      .search__button {
        right: 3rem; } }
    .search__button:focus {
      outline: none; }
  .search__input:focus + .search__button {
    right: 1.5rem; }
    @media only screen and (max-width: 43.75em) {
      .search__input:focus + .search__button {
        right: 2.5rem; } }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-2); }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2); }
    @media only screen and (max-width: 33.75em) {
      .user-nav__icon {
        width: 2rem;
        height: 2rem; } }
  .user-nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background-color: var(--color-primary);
    font-size: 1rem;
    color: #fff;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%; }
    @media only screen and (max-width: 33.75em) {
      .user-nav__notification {
        width: 1.5rem;
        height: 1.5rem; } }
  .user-nav__user-photo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%; }
    @media only screen and (max-width: 33.75em) {
      .user-nav__user-photo {
        width: 3.25rem;
        height: 3.25rem; } }
  .user-nav__username {
    margin-left: 1.5rem;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      margin-top: 0rem;
      display: flex; } }
  @media only screen and (max-width: 43.75em) {
    .side-nav {
      font-size: 1.2rem; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1.5rem 2.5rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center; } }
    @media only screen and (max-width: 43.75em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1rem 0rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .side-nav__icon {
        margin-right: 0rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  color: var(--color-grey-light-4);
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  cursor: default; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 27.5em) {
    .gallery {
      justify-content: center; } }
  @media only screen and (max-width: 43.75em) {
    .gallery__item {
      width: 50%; } }
  @media only screen and (max-width: 27.5em) {
    .gallery__item {
      width: 90%;
      margin: 1rem 0;
      border-radius: 0.4rem;
      overflow: hidden; } }
  .gallery__photo {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 27.5em) {
      .gallery__photo {
        border-radius: 0.4rem; } }

.overview {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-dark-1); }
  @media only screen and (max-width: 27.5em) {
    .overview {
      flex-wrap: wrap; } }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    cursor: default; }
    @media only screen and (max-width: 43.75em) {
      .overview__heading {
        font-size: 1.8rem;
        font-weight: 400;
        padding: 1rem 0.5rem; } }
    @media only screen and (max-width: 27.5em) {
      .overview__heading {
        flex: 0 0 50%;
        text-align: center; } }
    @media only screen and (max-width: 21.5em) {
      .overview__heading {
        font-size: 1.6rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 27.5em) {
      .overview__stars {
        flex: 0 0 50%;
        justify-content: center; } }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary-light); }
    @media only screen and (max-width: 43.75em) {
      .overview__icon-star, .overview__icon-location {
        width: 1.5rem;
        height: 1.5rem; } }
  .overview__location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer; }
    @media only screen and (max-width: 43.75em) {
      .overview__location {
        margin-right: 0.5rem; } }
    @media only screen and (max-width: 27.5em) {
      .overview__location {
        flex: 0 0 50%;
        margin-right: 0rem; } }
  .overview__icon-location {
    margin-right: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .overview__icon-location {
        margin-right: 0.5rem; } }
  .overview__rating {
    background-color: var(--color-primary-light);
    align-self: stretch;
    color: #fff;
    padding: 1rem 1.5rem;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default; }
    @media only screen and (max-width: 43.75em) {
      .overview__rating {
        padding: 0rem 1.25rem; } }
    @media only screen and (max-width: 27.5em) {
      .overview__rating {
        padding: 1rem 1.5rem;
        flex: 0 0 50%; } }
    @media only screen and (max-width: 21.5em) {
      .overview__rating {
        padding: 0.5rem 1.5rem; } }
  .overview__rating-avg {
    font-size: 2.5rem; }
    @media only screen and (max-width: 60.625em) {
      .overview__rating-avg {
        font-size: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .overview__rating-avg {
        font-size: 1.7rem;
        font-weight: 700; } }
  .overview__rating-count {
    font-size: 1.2rem; }
    @media only screen and (max-width: 43.75em) {
      .overview__rating-count {
        font-size: 1.1rem; } }

.btn-inline {
  background: transparent;
  border: none;
  color: var(--color-primary-light);
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid var(--color-primary-light);
  padding-bottom: 0.35rem;
  cursor: pointer; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }
    @media only screen and (max-width: 43.75em) {
      .btn-inline:focus {
        animation: none; } }
  .btn-inline__arrow {
    transition: all 0.2s; }
  .btn-inline:hover .btn-inline__arrow,
  .btn-inline:focus .btn-inline__arrow {
    margin-left: 0.8rem; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.1); }
  66% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@media only screen and (max-width: 43.75em) {
  .paragraph {
    padding: 0 3rem; } }

@media only screen and (max-width: 33.75em) {
  .paragraph {
    padding: 0rem; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem; }

.list {
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line);
  margin: 3rem 0;
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 33.75em) {
    .list {
      flex-direction: column; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 1rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;
      width: 1rem;
      height: 1rem;
      margin-right: 1rem; }

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem; }
  @media only screen and (max-width: 27.5em) {
    .recommend {
      flex-direction: column; } }
  .recommend__count {
    margin-right: auto; }
    @media only screen and (max-width: 27.5em) {
      .recommend__count {
        margin-right: 0;
        order: 1; } }
  .recommend__friends {
    display: flex; }
    @media only screen and (max-width: 27.5em) {
      .recommend__friends {
        margin-bottom: 1rem; } }
  .recommend__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: content-box;
    border: 3px solid #fff;
    display: inline-block; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 60.625em) {
    .review {
      padding: 2.5rem;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .review {
      flex: 0 0 50%; } }
  @media only screen and (max-width: 33.75em) {
    .review {
      flex: 0 0 100%; } }
  .review__text {
    margin-bottom: 3rem; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__user-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .review__user-box {
    margin-right: auto;
    margin-left: 1.5rem; }
  .review__user-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }
  .review__user-date {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-grey-dark-3); }
  .review__rating {
    font-size: 2.25rem;
    color: var(--color-primary); }

.cta {
  padding: 3rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2rem; } }
  .cta__heading {
    font-size: 2.5rem;
    color: var(--color-grey-dark-2);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .cta__heading {
        font-size: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .cta__heading {
        font-size: 1.7rem; } }

.btn {
  border: none;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 100px;
  color: #fff;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn {
      font-size: 1.3rem; } }
  .btn > * {
    display: inline-block;
    transition: all 0.2s;
    width: 100%;
    height: 100%; }
  .btn__visible {
    padding: 2rem 8rem; }
    @media only screen and (max-width: 56.25em) {
      .btn__visible {
        padding: 1.5rem 6rem; } }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    top: -100%;
    left: 0; }
    @media only screen and (max-width: 56.25em) {
      .btn__invisible {
        padding: 1.5rem 0rem; } }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
    animation: pulsate 1s infinite; }
  .btn:focus {
    outline: none; }

.container {
  min-height: 50rem;
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-wrap: wrap;
      height: auto; } }

.content {
  display: flex; }
  @media only screen and (max-width: 60.625em) {
    .content {
      font-size: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.details {
  display: flex;
  background-color: var(--color-grey-light-3);
  padding: 4.5rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 68.75em) {
    .details {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 60.625em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 43.75em) {
    .details {
      flex-direction: column; } }
  @media only screen and (max-width: 27.5em) {
    .details {
      padding: 2rem; } }

.description {
  background-color: #fff;
  margin-right: 4.5rem;
  flex: 0 0 60%;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 60.625em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 43.75em) {
    .description {
      margin-bottom: 3rem;
      margin-right: 0rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .user-reviews {
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: center; } }

.footer {
  padding: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.4rem; }
  @media only screen and (max-width: 43.75em) {
    .footer {
      padding: 2rem 1.5rem;
      line-height: 2; } }
  .footer__name {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
    background-color: var(--color-grey-dark-1);
    transition: all .2s; }
    @media only screen and (max-width: 43.75em) {
      .footer__name {
        line-height: 1.6; } }
    .footer__name:hover {
      transform: scale(1.1) rotate(-8deg); }

/*# sourceMappingURL=style.css.map */