.container {
  min-height: 50rem;
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: var(--shadow-dark);
  @include media($largest) {
    max-width: 100%;
  }
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media($small) {
    flex-wrap: wrap;
    height: auto;
  }
}
.content {
  display: flex;
  @include media($medium) {
    font-size: 2rem;
  }
  @include media($medium-1) {
    flex-direction: column;
  }
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  display: flex;
  background-color: var(--color-grey-light-3);
  padding: 4.5rem;
  font-size: 1.5rem;
  @include media($large) {
    font-size: 1.6rem;
  }
  @include media($medium) {
    padding: 3rem;
  }
  @include media($small) {
    flex-direction: column;
  }
  @include media($smallest-1) {
    padding: 2rem;
  }
}

.description {
  background-color: #fff;
  margin-right: 4.5rem;
  flex: 0 0 60%;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media($medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @include media($small) {
    margin-bottom: 3rem;
    margin-right: 0rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media($small) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer {
  padding: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;

  @include media($small) {
    padding: 2rem 1.5rem;
    line-height: 2;
  }

  &__name {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
    background-color: var(--color-grey-dark-1);
    transition: all .2s;

    @include media($small) {
    line-height: 1.6;
  }

    &:hover{
      transform: scale(1.1) rotate(-8deg);
    }
  }
}
